/* Global */ 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body, h1, h2, h3, p, ul, li a {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* TOP MENU SECTION */ 

#top-menu {
    background: #F1F1F1;
    padding: 8px 0px 8px 0px;
}

.top-menu-items {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.phones span a{
    margin: 0px 40px 0px 0px;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.24px;
}

#top-menu > div > div.phones > span:nth-child(1)::before {
    content: "\f095";
    font-family: 'FontAwesome';
    margin-right: 5px;
    transform: rotate(45deg);
    margin-right: 8px;
    font-size: 18px;
}

#top-menu > div > div.phones > span:nth-child(2)::before {
    content: "\f232";
    font-family: 'FontAwesome';
    margin-right: 5px;
    transform: rotate(45deg);
    margin-right: 8px;
    font-size: 18px;
    color:#24CD63;
}

.top-navmenu ul {
    display: flex;
}

.top-navmenu li a {
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    padding-left: 2px;
    letter-spacing: 0.22px;
}

.top-navmenu > ul > li {
    padding: 0px 15px 0px 15px;
}

/* Menu */ 

#menu {
    padding: 26px 0px 26px 0px;
    border-bottom:solid 1px #ece7e7;
}

.menu-items {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#menu > div > form > input[type=text] {
    width: 45em;
    padding: 14px;
    border-radius: 5px 0px 0px 5px;
    opacity: 1;
    border: none;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-left: solid 2px;
    border-color:#DFDFDF;
}

#menu > div > form > input[type=text]::placeholder {
    color: rgb(54, 54, 54);
    font-size: 14px;
}

input:focus-visible {
    outline: none;
}

.menu-items > #enter {
    color: #000
}

#menu > div > form > button {
    background: none;
    cursor: pointer;
    /* position: absolute; */
    /* top: 83px; */
    /* left: 86.1em; */
    border: none;
    border-right: solid 2px;
    padding: 14px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    margin-left: -6px;
    border-radius: 0px 5px 5px 1px;
    border-color:#DFDFDF;
}

/* DROPDOWN ITEM */ 

.dropbtn {
    color:#000;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropbtn::after {
    content: '\f107';
    font-family: 'FontAwesome';
    color: #000;
    margin-left: 5px;
    font-size: 15px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {display: block;}

  /* SACOLA 
  
  #menu > div > a:nth-child(4)::after {
    content: '+50';
    color: #F1F1F1;
    background-color: black;
    padding: 4px;
    border-radius: 100%;
    font-size: 9px;
    margin-left: -11px;
  } */ 

  #menu > div > div:nth-child(4) > span::after{
    content: '+50';
    color: #F1F1F1;
    background-color: black;
    padding: 4px;
    border-radius: 100%;
    font-size: 10px;
    margin-left: -15px;
  }

  /* BREAKPOINTS RESPONSIVOS */ 

