/* Menu Mobile width 320px*/
@media (min-width: 600px) {
    #menu-mobile{
       display: none;
    }
}

@media (max-width: 600px)  {
    #menu-mobile{
       margin-left: 6px;
       margin-right: 2px;
       margin-top: -20px;
    }
}

#icone-menu {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}
 
#check{
   display: none;
}

#bar-menu-mobile {
    background-color:#F1F1F1;
    height: 100%;
    width: 200px;
    position: absolute;
    transition: all .2s linear;
    left: -200px;
    border-radius: 2%;
    z-index: 1;
}

@media (max-width: 600px)  {
    .link {
        padding: 10px;
        font-size: 12px;
        transition: all .2s linear;
        border-bottom: 2px solid #0DBC4F;
        width: 100%;
        margin:2px;
        display: flex;
    }
}

.link:hover {
    background-color: #5ef07e;
}

@media (max-width: 600px)  {
    nav {
       top: 60px;
       position: absolute;
       transition: all .2s linear;
       display: flex;
       flex-direction: column;
    }
}

#check:checked ~ #bar-menu-mobile {
    transform: translateX(200px);
}

#whats-text-mobile{
    padding-left:6px;
}

#cell-text-mobile{
    padding-top:3px;
}

#login-icon{
   width:15px;
   margin-right: 10px;
   margin-bottom: 3px;
}
